@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

:root {
	--font: "Poppins", sans-serif;
	--primary-color: #6d81fe;
	--secendary-color: #f6f7fc;
	--black-color: #23324c;
	--black-secendary: #333333;
	--white-color: #ffffff;
	--red-color: #f76d6d;
}

body {
	font-family: var(--font);
	background-color: var(--primary-color);
	min-height: 100vh;
}

.container {
	border-radius: 10px;
	background-color: var(--secendary-color);
	max-width: 410px;
	margin: 1.5rem auto;
	padding: 1rem 0;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.title {
	display: flex;
	align-items: center;
	padding: 0 25px;
}

.title h1 {
	font-size: 1.3rem;
	color: var(--black-color);
	font-weight: 500;
	text-decoration: line-through;
}

.title img {
	width: 40px;
	height: auto;
}

.container-add {
	max-width: 100%;
	margin-top: 0.7rem;
	padding: 0 25px;
}

.container-add .section-add {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	position: relative;
}

.section-add img {
	position: absolute;
	width: 25px;
	height: auto;
	left: 0.7rem;
	opacity: 0.4;
}

.section-add #text {
	width: 100%;
	height: 100%;
	padding: 0 20px 0 45px;
	font-size: 1rem;
	color: var(--black-color);
	border: 1.5px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	background-color: var(--secendary-color);
	outline: none;
}

.section-add #text::placeholder {
	color: var(--black-secendary);
	opacity: 0.4;
	font-size: 1rem;
}

.section-add #text:focus {
	border: 1.5px solid var(--primary-color);
}

.section-add #text.eror {
	border: 1.5px solid var(--red-color);
	animation: shake 100ms linear 10;
}

/* controls task */
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.controls .filters {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.controls .btn-clear {
	width: 5rem;
	cursor: pointer;
	padding: 0.4rem;
	background-color: var(--primary-color);
	border: 1.5px solid var(--primary-color);
	border-radius: 3px;
	transition: all 300ms;
	color: var(--white-color);
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.controls span {
	font-size: 1rem;
}

/* container task */
.container-task {
	max-width: 100%;
	padding: 0 25px;
}

.container-task .section-taks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* .section-taks.active {
	background-color: var(--primary-color);
} */

/* .section-taks.active .delete,
.section-taks.active .task-content {
	color: var(--white-color);
} */

.section-taks.active .task-content {
	text-decoration: line-through;
	color: var(--red-color);
}

.section-taks .label {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-taks .task-content {
	font-size: 14px;
	color: var(--black-color);
	margin-left: 0.3rem;
	text-transform: capitalize;
}

.section-taks #check {
	margin-right: 0.6rem;
	cursor: pointer;
}

.section-taks .delete {
	cursor: pointer;
	width: 10%;
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes shake {
	0% {
		transform: translateX(0rem);
	}
	25% {
		transform: translateX(0.12rem);
	}
	50% {
		transform: translateX(-0.12rem);
	}
	75% {
		transform: translateX(0.12rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

@keyframes taskIn {
	from {
		transform: translateX(-0.7rem);
	}

	to {
		transform: translateX(0);
	}
}
