@media screen and (max-width: 480px) {
	.container {
		width: calc(100vw - 2rem);
		margin-top: 137px;
	}
	.title {
		height: 35px;
	}

	.container-add .section-add {
		height: 40px;
	}

	.controls .filters {
		gap: 14px;
	}
}
